<div class="container">
    <form [formGroup]="loginForm" >
        <div class="loginForm">
            <span class="header">เข้าสู่ระบบ</span>
            <div class="item">
                <input id="userId" type="text" formControlName="userId" placeholder="User">
            </div>
            <div class="item">
                <input id="password" type="password" formControlName="password" placeholder="Password">
            </div>
            <div class="btnSubmit">
                <button (click)="onSubmit()" type="submit" [disabled]="!loginForm.valid">เข้าสู่ระบบ</button>
            </div>
        </div>
    </form>       
</div>
