<div class="container">
  <div class="row">
    <div class="title">
      <span class="header">รายชื่อกิจกรรม</span>
    </div>
    <button class="items" (click)="testSubmit()">
      <span class="header">รายชื่อกิจกรรม A</span>
      <span class="desc">description</span>
    </button>
    <button class="items" (click)="testSubmit()">
      <span class="header">รายชื่อกิจกรรม B</span>
      <span class="desc">description</span>
    </button>
    <button class="items">
      <span class="header">รายชื่อกิจกรรม C</span>
      <span class="desc">description</span>
    </button>
  </div>
</div>
