<div class="container">
  <div class="row">
    <div class="title">
      <span class="header">รายชื่อกิจกรรม</span>
    </div>
    <div class="content" *ngFor="let items of this.eventList">
      <button *ngIf="items.event_status ==='A'" class="items" (click)="goEventDetail(items)">
        <span class="header">{{items.event_name}} </span>
        <!-- <span class="desc">{{items.event_descr}}</span> -->
      </button>
    </div>
    <div class="backMenu">
        <a (click)="back()" ><i class="fas fa-chevron-circle-left"></i><span>กลับไปหน้าแรก</span></a>
    </div>
  </div>
</div>
