<div class="container">
  <div class="row">
    <div class="title">
      <span class="header">รายชื่อกิจกรรม</span>
    </div>
    <div class="content">
      <button class="items" (click)="testSubmit()">
        <span class="header">รายชื่อกิจกรรม A</span>
        <span class="desc">description</span>
      </button>
      <button class="items" (click)="testSubmit()">
        <span class="header">รายชื่อกิจกรรม B</span>
        <span class="desc">description</span>
      </button>
      <button class="items">
        <span class="header">รายชื่อกิจกรรม C</span>
        <span class="desc">description</span>
      </button>
      <button class="items">
        <span class="header">รายชื่อกิจกรรม C</span>
        <span class="desc">description</span>
      </button>
      <button class="items">
        <span class="header">รายชื่อกิจกรรม C</span>
        <span class="desc">description</span>
      </button>
      <button class="items">
        <span class="header">รายชื่อกิจกรรม C</span>
        <span class="desc">description</span>
      </button>
      <button class="items">
        <span class="header">รายชื่อกิจกรรม C</span>
        <span class="desc">description</span>
      </button>
      <button class="items">
        <span class="header">รายชื่อกิจกรรม C</span>
        <span class="desc">description</span>
      </button>
      <button class="items">
        <span class="header">รายชื่อกิจกรรม C</span>
        <span class="desc">description</span>
      </button>
    </div>
    <div class="backMenu">
        <a href=""><i class="fas fa-chevron-circle-left"></i><span>กลับไปหน้าแรก</span></a>
    </div>
  </div>
</div>
