<div class="container">
  <div class="row">
    <div class="title">
      <span>ลงทะเบียนกิจกรรม</span>
    </div>
    <div class="eventName">
      <span>ชื่อกิจกรรม</span>
    </div>
    <div class="locationStatus">
      <i class="fas fa-street-view"></i>
      <span>ตำแหน่งของท่านถูกต้อง</span>
    </div>
    <div class="cam">
      <app-webcam (getPicture)="handleImage($event)"></app-webcam>

      <div class="webcam-image" *ngIf="webcamImage">
        <img [src]="webcamImage.imageAsDataUrl" />
      </div>
    </div>
  </div>
</div>
