/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: myFirstFont;
  src: url("assets/font/ChulabhornLikitDisplay-Medium.ttf");
}
* {
  font-family: MyFirstFont;
}
body {
 
  padding: 0;
  margin: 0;
}
