<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="formRegister">
            <div class="formItems">
                <label>รหัสนักศึกษา</label>
                <input id="userId" type="text" formControlName="userId" placeholder="User">
            </div>
            <div class="formItems">
                <label>Password</label>
                <input id="password" type="password" formControlName="password" placeholder="Password">
            </div>
            <div class="formItems">
                <label>คำนำหน้า</label>
                <input style="width:6ch" id="titleName" type="text" formControlName="titleName" placeholder="คำนำหน้า">
            </div>
            <div class="formItems">
                <label>ชื่อ</label>
                <input id="fname" type="text" formControlName="fname" placeholder="ชื่อ">
                <label>นามสกุล</label>
                <input id="lname" type="text" formControlName="lname" placeholder="นามสกุล">
            </div>
            <div class="formItems">
                <label>เพศ</label>
                <div style="display:flex;  align-items:center; padding:.2em 2em;">
                    <span style="padding-right: 1em;">ชาย</span>
                    <input class="radio" type="radio" formControlName="sex" value="M">
                </div>
                <div style="display:flex; align-items:center; padding:.2em 2em;">
                    <span style="padding-right: .6em;">หญิง</span>
                    <input class="radio" type="radio" formControlName="sex" value="F">
                </div>
            </div>
            <div class="formItems">
                <span style="padding-right: 1em;">คณะ</span>
                <select formControlName="facultyForm">
                    <option *ngFor="let items of faculty" [ngValue]="items.name">
                        {{ items.name }}
                    </option>
                </select>
            </div>
            <div class="formItems">
                <span style="padding-right: 1em;">สาขา</span>
                <select formControlName="department">
                    <option *ngFor="let items of department" [ngValue]="items.name">
                        {{ items.name }}
                    </option>
                </select>
            </div>
            <div class="formItems">
               <span>วัน/เดือน/ปีเกิด</span>
                <input formControlName="birthDay" type="date" id="date-object" style="width:14ch;" />
            </div>
            <div class="btnSubmit">
                <button type="submit" [disabled]="!registerForm.valid">Submit</button>
            </div>
        </div>
    </form>
</div>