
<div class="container">
    <div class="row">
      <div class="title">
        <span class="header">ข้อมูลผู้ใช้</span>
      </div>
      <div class="content">
        
          <span>ชื่อ นายสุริยา พุฒดวง</span>
          <span>รหัสนิสิต 6108111005</span>
          <span>สาขา วิทยาการคอมพิวเตอร์</span>
          <span>คณะ บริหารธุรกิจและรัฐประศาสนศาสตร์</span>
        
        
      </div>
      <div class="backMenu">
          <a href=""><i class="fas fa-chevron-circle-left"></i><span>กลับไปหน้าแรก</span></a>
      </div>
    </div>
  </div>
  