<div class="container">
  <div class="row">
    <div class="title">
      <span>รายละเอียดกิจกรรม</span>
    </div>
    <div class="content">
      <div class="eventName">
        <span>กิจกรรม : รับน้องปี64</span>
      </div>
      <div class="eventDate">
        <div class="eventDay">
          <span>วันที่ 1</span>
        </div>
        <div class="eventMonth">
          <span>เดือน สิงหาคม</span>
        </div>
        <div class="eventYear">
          <span>พ.ศ. 2564</span>
        </div>
      </div>
      <div class="textDetail"></div>
      <div class="eventMenu">
        <div class="items">
          <i class="fas fa-user-check"></i>
          <span>ลงทะเบียนกิจกรรม</span>
        </div>
        <div class="items">
          <i class="fas fa-clipboard-check"></i>
          <span>ทำแบบประเมินกิจกรรม</span>
        </div>
      </div>
      <div class="backMenu">
        <a (click)="back()"
          ><i class="fas fa-chevron-circle-left"></i
          ><span>กลับไปเลือกกิจกรรม</span>
        </a>
      </div>
    </div>
    <!-- content -->
  </div>
</div>
