<div class="container">
    <div class="row">
      <div class="title">
        <span class="header">เมนู</span>
      </div>
      <div class="content">
        <button class="items" (click)="eventList()">
          <span class="header">รายชื่อกิจกรรม</span>
        </button>
        <button class="items" (click)="registerList()">
          <span class="header">ลงทะเบียนกิจกรรม</span>
        </button>
        <button class="items" (click)="feedBackList()">
          <span class="header">ทำแบบประเมินกิจกรรม</span>
        </button>
        <button class="items" (click)="userSetting()">
          <span class="header">ตั้งค่าผู้ใช้</span>
        </button>
        <button class="items" (click)="logout()">
          <span class="header">ออกจากระบบ</span>
        </button>
      </div>
    </div>
  </div>